.nav {
    display:flex;
    position:sticky;
}

.first-section, .second-section, .three-section{
    display: flex;
}

.nav{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}

.nav .nav-bar-home, .nav .nav-bar-about-me, .nav .nav-bar-frontend, .nav .nav-bar-backend {
    background-color: floralwhite;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
}

.first-section{
    background-color: aliceblue;
}

